
<form action="/search" method="GET">
  <input type="text" name="city" placeholder="City" />
  <input type="date" name="start_date"/>
  <input type="date" name="end_time"/>
  <input type="number" name="capacity" placeholder="Capacity">
  <input type="submit" value="search" min="1" max="8" value="1"/>
</form>
<br>


<div class="container-fluid">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <div class="card-list">
          <div class="card-category">
            <h2><%= flat.title %></h2>
          </div>
          <% flat.photos.each do |photo|%>
          <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>

          <%
          break
          end%>


          <div class="card-description">
          <p>Description: <%= flat.desc %></p>
          <p>Address: <%= flat.address %></p>
          <p>City: <%= flat.city %></p>
          <p>Capacity: <%= flat.capacity %></p>
          <p>Rooms: <%= flat.room_number %></p>
          <p>Bathrooms: <%= flat.bathroom_number %></p>
          <%= link_to "See details", flat, class: "card-link"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
