<div class="container-form center">
  <h3>New Listing</h3>
  <div class="float-left tabbed">
    <%= simple_form_for @flat do |f| %>
      <%= f.input :title, placeholder: "i.e. John Smith" %>
      <%= f.input :desc, placeholder: "i.e. Saint Barths Villa"  %>
      <%= f.input :city, placeholder: "i.e. Gustavia, Saint Barthélemy"  %>
      <%= f.input :address %>
      <%= f.input :price_night, placeholder: "i.e. $ 1500"  %>
      <%= f.fields_for :availabilities do |a| %>
        <%= a.input :start_date, as: :date, html5: true  %>
        <%= a.input :end_time, as: :date, html5: true %>
      <%end%>
    </div>
    <div class="float-right tabbed">
      <%= f.input :capacity, collection: [0,1,2,3,4,5,6,7,8], placeholder: "0"  %>
      <%= f.input :room_number, collection: [0,1,2,3,4,5] %>
      <%= f.input :bed_number, collection: [0,1,2,3,4,5] %>
      <%= f.input :bathroom_number, collection: (0..5) %>
      <%= f.input :photos, as: :attachinary %>
      <%= f.button :submit, class: "navbar-wagon-item navbar-wagon-button btn"%>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCYuD6OzC4mkneqLNRQSI64xbdgyqmxHMI"></script>
<% end %>


