<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
<h3>Confirmation for <%= @booking.flat.title %> </h3>


<%= simple_form_for @booking, :url => flat_bookings_path, :method => :post do |f| %>

  <h4>From</h4>
  <%=f.input :start_date, as: :date, html5: true %>
  <h4>To </h4>
  <%=f.input :end_date, as: :date, html5: true %>
  <h4>Extra Services</h4>
  <%= f.association :services,  as: "check_boxes", label_method: :full_description %>

  <%= f.submit "CONTINUE TO PAYMENT", class: "btn btn-primary" %>
<% end %>
      </div>
    </div>
  </div>
</div>










