<br>
<br>
<br>
<div class="text-center">
<h2><%= current_user.first_name %> <%= current_user.last_name %> </h2>
<img src="https://s-media-cache-ak0.pinimg.com/originals/63/14/35/631435bab470401145af0c2788b2b643.jpg" alt="profile-pix" class= " avatar-large">
<br>
<br>

<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>

</div>



<h3> Pending Requests (<%= @user.bookings.count %>)</h3>
<% @user.bookings.each do |booking| %>
<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>Pending</div>
  </div>
  <img src= "http://cdn5.viralscape.com/wp-content/uploads/2014/03/unconventional-home-69.jpg"  class= "product-image hidden-xs">
  <div class='product-body'>
<h3> <%= booking.flat.title %></h3>
<p> From: <%= booking.start_date.strftime("%Y-%m-%d") %> </p>
<p> To: <%= booking.end_date.strftime("%Y-%m-%d") %> </p>
<% booking.services.each do |service| %>
<p> Requested Services: <%= service.full_description %> </p>
<%end%>
</div>
  <ul class="list-inline">
    <li> <%= link_to '<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>'.html_safe, edit_flat_booking_path(booking.flat, booking) %> </li>
    <li> <%=link_to '<i class="fa fa-trash fa-lg" aria-hidden="true"></i>'.html_safe, flat_booking_path(booking.flat, booking), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-small" %> </li>
  </ul>
</div>
 </div>
 </div>
<%end%>




<h3> My Flats (<%= @user.flats.count %>) </h3>
<% @user.flats.each do |flat| %>
<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>Available</div>
  </div>
  <img src= "http://cdn5.viralscape.com/wp-content/uploads/2014/03/unconventional-home-69.jpg"  class= "product-image hidden-xs">
  <div class='product-body'>
<h3> <%= flat.title %> </h3>
<p> <%= flat.capacity %> </p>
<p> <%= flat.price_night %> </p>
</div>
  <ul class="list-inline">
<li> <%= link_to '<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>'.html_safe, edit_flat_path(flat)%> </li>
<li> <%=link_to '<i class="fa fa-trash fa-lg" aria-hidden="true"></i>'.html_safe, flat_path(flat), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-small" %> </li>
 </ul>
</div>
 </div>
 </div>
<%end%>

