
<h1>Welcome <%= current_user.first_name %> !</h1>
<p>Profile Page </p>

<% avatar_url = current_user.facebook_picture_url || "http://placehold.it/150x150" %>
<%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

<%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>

<h3> Pending Requests (<%= @user.bookings.count %>)</h3>
<% @user.bookings.each do |booking| %>
<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>Pending</div>
  </div>
  <img src= "http://cdn5.viralscape.com/wp-content/uploads/2014/03/unconventional-home-69.jpg"  class= "product-image hidden-xs">
  <div class='product-body'>
<h3> <%= booking.flat.title %></h3>
<p> From: <%= booking.start_date %> </p>
<p> To: <%= booking.end_date %> </p>
<% booking.services.each do |service| %>
<p> Requested Services: <%= service.full_description %> </p>
<%end%>
</div>
  <ul class="list-inline">
    <li> <%= link_to "Edit", edit_flat_booking_path(booking.flat, booking), class: "btn btn-primary" %> </li>
    <li> <%=link_to "Cancel Reservation", flat_booking_path(booking.flat, booking), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-small" %> </li>
  </ul>
</div>
 </div>
 </div>
<%end%>




<h3> My Flats (<%= @user.flats.count %>) </h3>
<% @user.flats.each do |flat| %>
<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>Available</div>
  </div>
  <img src= "http://cdn5.viralscape.com/wp-content/uploads/2014/03/unconventional-home-69.jpg"  class= "product-image hidden-xs">
  <div class='product-body'>
<h3> <%= flat.title %> </h3>
<p> <%= flat.capacity %> </p>
<p> <%= flat.price_night %> </p>
</div>
  <ul class="list-inline">
<li> <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-primary" %> </li>
<li> <%=link_to "Delete Listing", flat_path(flat), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-small" %> </li>
 </ul>
</div>
 </div>
 </div>
<%end%>

